<!DOCTYPE html>
<html>
	<head>
		<title>Computacion Científica UNAB</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">		
		<link href="../webapp/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.theme.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.transitions.css" rel="stylesheet" type="text/css" media="all">
		<link href="../webapp/static/css/layout.css" rel="stylesheet" type="text/css" media="all">				
	</head>
	<body id="top">
		<div class="wrapper row0">
			<div id="topbar" class="clear">
			<div class="fl_right">
				<ul class="faico clear">
					<li><a href="https://github.com/Jupaba/ccientifica"><i class="fa fa-github"></i></a></li>
					<li><a href="http://stackoverflow.com/"><i class="fa fa-stack-overflow"></i></a></li>
				</ul>
				</div>
			</div>
		</div>
		<header id="header" class="clear">
			<div class="logo" style="float:left;">
				<img src="../webapp/static/images/logo-unab.png" width="225px" alt=""></img>
				</div>
				<nav id="mainav" class="clear" style="float:right;"> 
					<ul class="clear">
						<li class="active"><a href="../index.htm">Home</a></li>
						<li><a class="drop" href="#">Raices de Ecuaciones</a>
							<ul>
								<li><a href="../raices-de-ecuaciones/metodo-biseccion">Método de Bisección</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-brent">Método de Brent</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-secante">Método de La Secante</a></li>
								<!--<li><a href="../raices-de-ecuaciones/metodo-puntofijo">Método del Punto Fijo</a></li>-->
								<li><a href="../raices-de-ecuaciones/metodo-reglafalsa">Método de Regla Falsa</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Ajuste de Curvas</a>
							<ul>
								<!--<li><a href="../ajustes-de-curvas/metodo-regresion-polinomial">Regresión Polinomial</a></li>-->
								<li><a href="../ajustes-de-curvas/metodo-regresion-lineal">Regresión Lineal</a></li>
								<li><a href="../ajustes-de-curvas/metodo-interpolacion-newton">Interpolación Newton</a></li>
								<li><a href="../ajustes-de-curvas/metodo-interpolacion-lagrange">Interpolación Lagrange</a></li>
								<!--<li><a href="../ajustes-de-curvas/metodo-minimos-cuadrados-continuos">Mínimos Continuos</a></li>-->
								<li><a href="../ajustes-de-curvas/metodo-minimos-cuadrados-discretos">Mínimos Discretos</a></li>
								<li><a href="../ajustes-de-curvas/metodo-spline">Spline</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Ecuaciones Diferenciales</a>
							<ul>
								<li><a href="../optimizacion/metodo-euler">Euler</a></li>
								<!--<li><a href="#">Runge-Kuta </a></li>
								<li><a href="metodo-heun">Método de Heun</a></li>-->
							</ul>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="wrapper row3">
			<div class="container explicacion">
				<h2 >Método de Runge-Kutta</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illo, voluptate repellat delectus corporis. Quos id architecto consequatur quae fugit expedita error explicabo cupiditate ipsa iste et, eaque, quam aspernatur.</p>
				<p>Laborum maiores nemo vel minus saepe quam odio exercitationem maxime a voluptatum, consequatur tempore nostrum expedita ea laudantium qui nobis deserunt tenetur numquam, aliquid. Soluta impedit vitae voluptates cumque dolorum.</p>
				<p>Minima, esse. Esse corporis hic ad aspernatur ab earum odio quas voluptatem incidunt fuga enim ut, ducimus, accusantium dolore architecto. Eveniet ad similique nesciunt minima. Nemo dicta earum atque, error.</p>
				<p>Ad, facere consectetur. Nam necessitatibus iure iusto nulla reiciendis tenetur quas vel, quia temporibus ab, facere sunt quae sed sequi fugiat laboriosam neque ea expedita corrupti! Accusamus, quidem optio! Facilis!</p>
			</div>
			<main class="container clear"> 
				<div class="btmspace-80 center">
					<h2 class="font-x2 uppercase">Complete el formulario</h2><hr>
					<section id="pageintro" class="container clear btminspace-0"> 
						<div id="kkmolida">
							<div id="comments">
								<div id="fx" class="one_third first">
									<label>F(x) <span>*</span></label>
									<input type="text" id="fxx" size="22">
								</div>
								<div id="xi" class="one_third">
									<label>Xi <span>*</span></label>
									<input type="text" id="xii" size="22">
								</div>          
								<div id="xf" class="one_third">
									<label>Xf <span>*</span></label>
									<input type="text" id="xff" size="22">
								</div>
								<div id="te" class="one_third first">
									<label>Tolerancia error <span>*</span></label>
									<input type="text" id="errto" value="" size="22">
								</div>
								<div id="ni" class="one_third">
									<label>N&uacute;mero de iteraciones <span>*</span></label>
									<input type="text" id="imax"size="22">
								</div>          
								<div class="one_third" style="height: 68px;">
								</div>
								<div>
								<input id="btnEjecutar" type="submit" value="Ejecutar">
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
		</div>
		<div class="wrapper row4" style="padding: 10px 0px;">
			<footer id="footer" class="clear">
				<h2 class="font-x2 uppercase" align="center">Equipo de Trabajo</h2><hr>
					<div id="owl-demo">
						<div class="item">
							<img src="../webapp/static/images/pp44.jpg" alt="Owl Image">
							<h6 class="title">Gustavo Gatica</h6>
							<address class="btmspace-15">
								Universidad Andrés Bello<br>
								Profesor guía<br>
								Curso Computación Científica<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> ggatica@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp.jpg" alt="Owl Image">
							<h6 class="title">JuanPablo Barahona</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> juanpablo.barahonaa@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp00.jpg" alt="Owl Image">
							<h6 class="title">J. Antonio Lefimil</h6>
							<address class="btmspace-15">
							Estudiante Universidad<br>
							Ing. Computación Científica<br>
							Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> antonio.lefimil@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp2.jpg" alt="Owl Image">
							<h6 class="title">Gonzalo Cifuentes</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> gonzalo.cifuentes@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp3.jpg" alt="Owl Image">
							<h6 class="title">Alfredo González</h6>
							<address class="btmspace-15">
							Estudiante Universidad<br>
							Ing. Computación Científica<br>
							Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> alpihola@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp5.jpg" alt="Owl Image">
							<h6 class="title">Matías Greco</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> m.grecochandia@gmail.com</li>
							</ul>
						</div>
					</div>
			</footer>
		</div>
		<div class="wrapper row5">
		  <div id="copyright" class="clear"> 
			<p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
			<p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
		  </div>
		</div>
		<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
		
		<!-- JAVASCRIPTS -->
		<script src="../webapp/static/js/jquery.min.js"></script> 
		<script src="../webapp/static/js/jquery.backtotop.js"></script> 
		<script src="../webapp/static/js/jquery.mobilemenu.js"></script>
		<script src="../webapp/static/js/owl.carousel.js"></script>
		<script>
			$(function(){
				$("#owl-demo").owlCarousel({
				  autoPlay: 3000, //Set AutoPlay to 3 seconds
				  items : 3,
				  itemsDesktop : [1199,3],
				  itemsDesktopSmall : [979,3]
	
				});
			});
		</script>
	</body>
</html>