<!DOCTYPE html>
<html>
	<head>
		<title>Computacion Científica UNAB</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">		
		<link href="../webapp/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.theme.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.transitions.css" rel="stylesheet" type="text/css" media="all">
		<link href="../webapp/static/css/layout.css" rel="stylesheet" type="text/css" media="all">
		<!-- JAVASCRIPTS -->
		<script src="../webapp/static/js/jquery.min.js"></script> 
		<script src="../webapp/static/js/jquery.backtotop.js"></script> 
		<script src="../webapp/static/js/jquery.mobilemenu.js"></script>
		<script src="../webapp/static/js/owl.carousel.js"></script>		
		<script src="../webapp/static/js/common.js"></script>
		<script>
			$(function(){
			    $('#btnEjecutar').bind('click',function(event, ui){ejecutarCodigo("Ecuacion de raices", "Brent");});
				$("#owl-demo").owlCarousel({
				  autoPlay: 3000, //Set AutoPlay to 3 seconds
				  items : 3,
				  itemsDesktop : [1199,3],
				  itemsDesktopSmall : [979,3]
	
				});
			});
		</script>				
	</head>
	<body id="top">
		<div class="wrapper row0">
			<div id="topbar" class="clear">
			<div class="fl_right">
				<ul class="faico clear">
					<li><a href="https://github.com/Jupaba/ccientifica"><i class="fa fa-github"></i></a></li>
					<li><a href="http://stackoverflow.com/"><i class="fa fa-stack-overflow"></i></a></li>
					<li><a href="repost.htm"><i class="fa fa-file-archive-o"></li></a></i>
				</ul>
				</div>
			</div>
		</div>
		<header id="header" class="clear">
			<div class="logo" style="float:left;">
				<img src="../webapp/static/images/logo-unab.png" alt=""></img>
				</div>
				<nav id="mainav" class="clear" style="float:right;"> 
					<ul class="clear">
						<li class="active"><a href="../">Home</a></li>
						<li><a class="drop" href="#">Raices de Ecuaciones</a>
							<ul>
								<li><a href="../raices-de-ecuaciones/metodo-biseccion">Método de Bisección</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-brent">Método de Brent</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-secante">Método de La Secante</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-puntofijo">Método del Punto Fijo</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-reglafalsa">Método de Regla Falsa</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Ajuste de Curvas</a>
							<ul>
								<li><a href="metodo-regresion-polinomial">Regresión Polinomial</a></li>
								<li><a href="metodo-regresion-lineal">Regresión Lineal</a></li>
								<li><a href="metodo-interpolacion-newton">Interpolación Newton</a></li>
								<li><a href="metodo-lagrange">Interpolación Lagrange</a></li>
								<li><a href="#">Mínimos Continuos</a></li>
								<li><a href="metodo-minimos-cuadrados-discretos">Mínimos Discretos</a></li>
								<li><a href="metodo-spline">Spline</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Otros</a>
							<ul>
								<li><a href="../optimizacion/metodo-euler">Euler</a></li>
								<li><a href="../ecuacion-diferencial/metodo-runge-kuta">Runge-Kuta </a></li>
								<li><a href="../ecuacion-diferencial/metodo-heun">Método de Heun</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="wrapper row3">
			<main class="container clear"> 
				<div class="btmspace-80 center">
					<h2 class="font-x2 uppercase">Complete el formulario</h2><hr>
					<section id="pageintro" class="container clear btminspace-0"> 
						<div id="kkmolida">
							<div id="comments">
								<div id="fx" class="one_third first">
									<label>F(x) <span>*</span></label>
									<input type="text" id="fxx" size="22">
								</div>
								<div id="xi" class="one_third">
									<label>Xi <span>*</span></label>
									<input type="text" id="xii" size="22">
								</div>          
								<div id="xf" class="one_third">
									<label>Xf <span>*</span></label>
									<input type="text" id="xff" size="22">
								</div>
								<div id="te" class="one_third first">
									<label>Tolerancia error <span>*</span></label>
									<input type="text" id="errto" value="" size="22">
								</div>
								<div id="ni" class="one_third">
									<label>N&uacute;mero de iteraciones <span>*</span></label>
									<input type="text" id="imax"size="22">
								</div>          
								<div class="one_third" style="height: 68px;">
								</div>
								<div>
								<input id="btnEjecutar" type="submit" value="Ejecutar">
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
		</div>
		<div class="container-menu menuFooter" id="navbar-Footer">
		</div>
	</body>
</html>