<!DOCTYPE html>
<html>
	<head>
		<title>Computacion Científica UNAB</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">		
		<link href="../webapp/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.theme.css" rel="stylesheet" type="text/css" media="all">		
		<link href="../webapp/static/css/owl.transitions.css" rel="stylesheet" type="text/css" media="all">
		<link href="../webapp/static/css/layout.css" rel="stylesheet" type="text/css" media="all">			
	</head>
	<body id="top">
		<div class="wrapper row0">
			<div id="topbar" class="clear">
			<div class="fl_right">
				<ul class="faico clear">
					<li><a href="https://github.com/Jupaba/ccientifica"><i class="fa fa-github"></i></a></li>
					<li><a href="http://stackoverflow.com/"><i class="fa fa-stack-overflow"></i></a></li>
					<li><a href="repost"><i class="fa fa-file-archive-o"></li></a></i>
				</ul>
				</div>
			</div>
		</div>
		<header id="header" class="clear">
			<div class="logo" style="float:left;">
				<img src="../webapp/static/images/logo-unab.png" alt=""></img>
				</div>
				<nav id="mainav" class="clear" style="float:right;"> 
					<ul class="clear">
						<li class="active"><a href="../">Home</a></li>
						<li><a class="drop" href="#">Raices de Ecuaciones</a>
							<ul>
								<li><a href="../raices-de-ecuaciones/metodo-biseccion">Método de Bisección</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-brent">Método de Brent</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-secante">Método de La Secante</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-puntofijo">Método del Punto Fijo</a></li>
								<li><a href="../raices-de-ecuaciones/metodo-reglafalsa">Método de Regla Falsa</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Ajuste de Curvas</a>
							<ul>
								<li><a href="metodo-regresion-polinomial">Regresión Polinomial</a></li>
								<li><a href="metodo-regresion-lineal">Regresión Lineal</a></li>
								<li><a href="metodo-interpolacion-newton">Interpolación Newton</a></li>
								<li><a href="#">Interpolación Lagrange</a></li>
								<li><a href="metodo-minimos-cuadrados-continuos">Mínimos Continuos</a></li>
								<li><a href="metodo-minimos-cuadrados-discretos">Mínimos Discretos</a></li>
								<li><a href="metodo-spline">Spline</a></li>
							</ul>
						</li>
						<li><a class="drop" href="#">Otros</a>
							<ul>
								<li><a href="../optimizacion/metodo-euler">Euler</a></li>
								<li><a href="../ecuacion-diferencial/metodo-runge-kuta">Runge-Kuta </a></li>
								<li><a href="../ecuacion-diferencial/metodo-heun">Método de Heun</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="wrapper row3">
			<main class="container clear"> 
				<div class="btmspace-80 center">
					<h2 class="font-x2 uppercase">Complete el formulario</h2><hr>
					<section id="pageintro" class="container clear btminspace-0"> 
						<div id="kkmolida">
							<div id="comments" style="margin: 0 auto; width:50%;">
							<div id="formulario">
								<div style="float:left;display:block; width:100%;">
									<div style="float:left; width:50%; padding:5px;">
										<label>F(x) <span>*</span></label>
										<input type="text" id="fxx" size="22">
									</div>
									<div style="float:left; width:50%; padding:5px;">
										<label>Valor de X <span>*</span></label>
										<input type="text" id="xxx" size="22">
									</div>
								</div>
								<div style="float:left; width:50%; padding:5px;">
									<label>X1 <span>*</span></label>
									<input type="text" class="valx" size="22">
								</div>
								<div style="float:left; width:50%; padding:5px;">
									<label>X2 <span>*</span></label>
									<input type="text" class="valx" size="22">
								</div>
							</div>
								<div>
	                            	<button style="margin-right:20px;" type="button" class="btn btn-danger" id="agregarPtox">Agregar nuevo punto</button>
									<input id="btnEjecutar" type="submit" value="Ejecutar">
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
		</div>
		<div class="wrapper row4">
			<footer id="footer" class="clear">
				<h2 class="font-x2 uppercase" align="center">Equipo de Trabajo</h2><hr>
					<div id="owl-demo">
						<div class="item">
							<img src="../webapp/static/images/pp.jpg" alt="Owl Image">
							<h6 class="title">JuanPablo Barahona</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> juanpablo.barahonaa@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp0.jpg" alt="Owl Image">
							<h6 class="title">J. Antonio Lefimil</h6>
							<address class="btmspace-15">
							Estudiante Universidad<br>
							Ing. Computación Científica<br>
							Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> antonio.lefimil@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp2.jpg" alt="Owl Image">
							<h6 class="title">Gonzalo Cifuentes</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> gonzalo.cifuentes@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp3.jpg" alt="Owl Image">
							<h6 class="title">Alfredo González</h6>
							<address class="btmspace-15">
							Estudiante Universidad<br>
							Ing. Computación Científica<br>
							Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> alpihola@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp3.jpg" alt="Owl Image">
							<h6 class="title">Gustavo Gatica</h6>
							<address class="btmspace-15">
								Universidad Andrés Bello<br>
								Profesor guía<br>
								Curso Computación Científica<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> ggatica@gmail.com</li>
							</ul>
						</div>
						<div class="item">
							<img src="../webapp/static/images/pp.jpg" alt="Owl Image">
							<h6 class="title">Matías Greco</h6>
							<address class="btmspace-15">
							Estudiante Univerdad<br>
							Ing. Computación e Informática<br>
							U. Andrés Bello<br>
							</address>
							<ul class="nospace">
								<li><span class="fa fa-envelope-o"></span> m.grecochandia@gmail.com</li>
							</ul>
						</div>
					</div>
			</footer>
		</div>
		<div class="wrapper row5">
		  <div id="copyright" class="clear"> 
			<p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
			<p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>			
		  </div>
		</div>
		<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
		<!-- JAVASCRIPTS -->
		<script src="../webapp/static/js/jquery.min.js"></script>
		<script src="../webapp/static/js/ccientificaalg.js"></script>
		<script src="../webapp/static/js/jquery.backtotop.js"></script> 
		<script src="../webapp/static/js/jquery.mobilemenu.js"></script>
		<script src="../webapp/static/js/owl.carousel.js"></script>
		<script>
			$(function(){
				var i = 2;
				$("#agregarPtox").click(function(){
					i++;
					$("#formulario").append('<div style="float:left; width:50%; padding:5px;"><label>X'+i+' <span>*</span></label><input type="text" class="valx" size="22"></div>');
				});
			    $('#btnEjecutar').bind('click',function(event, ui){ejecutarLagrange("Ajuste de curvas", "lagrange",i);});
				$("#owl-demo").owlCarousel({
				  autoPlay: 3000, //Set AutoPlay to 3 seconds
				  items : 3,
				  itemsDesktop : [1199,3],
				  itemsDesktopSmall : [979,3]

				});
			});
		</script>	
	</body>
</html>
