<!DOCTYPE html>
<html>
<head>
  <title>Ecuaciones no lineales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="webapp/views/src/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
  <div class="wrapper row0">
    <div id="topbar" class="clear"> 
      <div class="fl_left">
        <ul class="faico clear">
          <li><a href="#" title="Choose Language"><i class="fa fa-language"></i></a></li>
          <li><a href="#" title="Contact Us"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="#" title="Corporate Site"><i class="fa fa-globe"></i></a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="faico clear">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="clear"> 
      <div class="table">
        <div class="table-cell">
          <p><i class="fa fa-phone"></i> +569 9 111 11 11</p>
        </div>
        <div class="table-cell center"><i class="fa fa-3x fa-connectdevelop"></i>
          <h1><a href="index.html">Métodos de ecuaciones no lineales</a></h1>
        </div>
        <div class="table-cell right">
          <ul class="faico clear">
            <li><a href="#" title="Login"><i class="fa fa-sign-in"></i></a></li>
            <li><a href="#" title="Register"><i class="fa fa-user-plus"></i></a></li>
            <li><a href="#" title="Newsletter"><i class="fa fa-newspaper-o"></i></a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="wrapper row2">
    <nav id="mainav" class="clear"> 
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">Algoritmos</a>
          <ul>
          <li><a href="pages/gallery.html">Método de Bisección</a></li>
            <li><a href="algoritmos/sidebar-left/">Método de Brent</a></li>
            <li><a href="pages/full-width.html">Método de La Secante</a></li>
            <li><a href="pages/sidebar-right.html">Método del Punto Fijo</a></li>
            <li><a href="pages/sidebar-left.html">Método de Regla Falsa</a></li>
          </ul>
        </li>
      <li><a href="#">Equipo</a></li>
      <li><a href="#">Link_1</a></li>
      <li><a href="#">Link_2</a></li>
    </ul>
  </nav>
</div>
<div class="wrapper bgded overlay blue" style="background-image:url('webapp/views/src/images/demo/backgrounds/01.png')">
  <section id="pageintro" class="container clear btminspace-0"> 
    <div class="introtxt">
      <h2 class="heading uppercase">Métodos de ecuaciones no lineales</h2>
      <p>Volutpat arcu at faucibus elit cras lacinia ante aliquam egestas gravida sed nec lobortis orci curabitur malesuada lorem eget faucibus euismod orci est.</p>
      <p><a class="btn" href="#">Purus consectetur</a></p>
    </div>
    <ul class="nospace table">
      <li class="table-cell">
        <article><a href="#"><i class="fa fa-3x fa-legal"></i></a>
          <h4 class="heading font-x1 uppercase">Accumsan risus quis</h4>
          <p>Praesent non bibendum dui vitae cursus elit nam quis arcu&hellip;</p>
        </article>
      </li>
      <li class="table-cell">
        <article><a href="#"><i class="fa fa-3x fa-university"></i></a>
          <h4 class="heading font-x1 uppercase">Nunc accumsan enim</h4>
          <p>Ultrices quam ut lorem eget consequat ligula bibendum&hellip;</p>
        </article>
      </li>
      <li class="table-cell">
        <article><a href="#"><i class="fa fa-3x fa-pie-chart"></i></a>
          <h4 class="heading font-x1 uppercase">Metus vitae luctus</h4>
          <p>Fusce suscipit velit quis sem ultrices at semper nisi&hellip;</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="btmspace-80 center">
      <h2 class="font-x2 uppercase">Semper metus id tristique mattis</h2>
      <p>Vestibulum accumsan vitae nunc at scelerisque nunc lacinia eros sit amet mauris ornare porttitor curabitur luctus ante nec nibh accumsan ut placerat eros aliquet nullam cursus diam fringilla ultricies commodo pellentesque.</p>
    </div>
    <ul class="nospace clear">
      <li class="one_third first">
        <article class="infobox"> 
          <figure><a href="#"><img src="webapp/views/src/images/demo/480x300.png" alt=""></a>
            <figcaption>Text</figcaption>
          </figure>
          <div class="infobox-details">
            <h2 class="heading font-x1 uppercase"><a href="#">Praesent a fringilla</a></h2>
            <ul class="nospace clear">
              <li>
                <time datetime="2045-04-06"><i class="fa fa-calendar-o"></i> 06/04/45</time>
              </li>
              <li><i class="fa fa-clock-o"></i> 08 - 10:00</li>
            </ul>
            <p>Ut finibus metus maecenas imperdiet elit a elit ullamcorper et varius nisi sagittis facilisis sem vitae&hellip;</p>
          </div>
          <ul class="infobox-more nospace clear">
            <li><i class="fa fa-users"></i> 12/20</li>
            <li><a href="#"><i class="fa fa-eye"></i> More</a></li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"> 
          <figure><a href="#"><img src="webapp/views/src/images/demo/480x300.png" alt=""></a>
            <figcaption>Text</figcaption>
          </figure>
          <div class="infobox-details">
            <h2 class="heading font-x1 uppercase"><a href="#">Lectus euismod dictum</a></h2>
            <ul class="nospace clear">
              <li>
                <time datetime="2045-05-08"><i class="fa fa-calendar-o"></i> 08/05/45</time>
              </li>
              <li><i class="fa fa-clock-o"></i> 10 - 11:00</li>
            </ul>
            <p>Nibh integer eget diam id sem dapibus maximus vestibulum eu imperdiet lorem integer at sapien&hellip;</p>
          </div>
          <ul class="infobox-more nospace clear">
            <li><i class="fa fa-users"></i> 15/20</li>
            <li><a href="#"><i class="fa fa-eye"></i> More</a></li>
          </ul>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"> 
          <figure><a href="#"><img src="webapp/views/src/images/demo/480x300.png" alt=""></a>
            <figcaption>Text</figcaption>
          </figure>
          <div class="infobox-details">
            <h2 class="heading font-x1 uppercase"><a href="#">Nam tristique justo</a></h2>
            <ul class="nospace clear">
              <li>
                <time datetime="2045-05-10"><i class="fa fa-calendar-o"></i> 10/05/45</time>
              </li>
              <li><i class="fa fa-clock-o"></i> 13 - 15:00</li>
            </ul>
            <p>Sapien in porta nunc vulputate vel interdum et malesuada fames ac ante ipsum primis in faucibus&hellip;</p>
          </div>
          <ul class="infobox-more nospace clear">
            <li><i class="fa fa-users"></i> 8/20</li>
            <li><a href="#"><i class="fa fa-eye"></i> More</a></li>
          </ul>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper bgded overlay light" style="background-image:url('webapp/views/src/images/demo/backgrounds/02.png')">
  <div class="container clear center"> 
    <h2 class="font-x2 uppercase">Velit blandit ipsum</h2>
    <p class="btmspace-50">Feugiat mi nunc ac lorem nullam accumsan mauris mauris quis aliquam erat commodo vel sed sed sagittis est integer placerat venenatis finibus mauris ut sem et felis volutpat cursus ut id metus vivamus dictum mi tortor ac dignissim.</p>
    <ul class="nospace inline pushright">
      <li><a class="btn" href="#">Lectus sodales</a></li>
      <li><a class="btn bg-red" href="#">Fringilla tincidunt</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper row3">
  <div class="container clear">
    <h2 class="font-x2 uppercase">pretium nisi quisque sem</h2>
    <p class="btmspace-50">Luctus aliquam odio et aliquam purus ut pulvinar eros in vestibulum fringilla eros elit condimentum sapien eget ultrices sem augue feugiat felis in nec metus eu nisi vulputate tristique sed suscipit diam euismod posuere accumsan nulla.</p>
    <ul class="nospace clear latest">
      <li class="one_half first">
        <figure class="clear"><img src="webapp/views/src/images/demo/480x300.png" alt="">
          <figcaption>
            <h4 class="heading font-x1 uppercase">Arcu sed porta</h4>
            <ul class="nospace clear">
              <li>
                <time datetime="2045-04-06"><i class="fa fa-calendar-o"></i> 6 April 2045</time>
              </li>
              <li><i class="fa fa-comments"></i> <a href="#">Comments</a></li>
            </ul>
            <p>Quisque vel tinci dunt quam nullam vel ultricies lorem vehicula auctor&hellip; <a href="#">Read More &raquo;</a></p>
          </figcaption>
        </figure>
      </li>
      <li class="one_half">
        <figure class="clear"><img src="webapp/views/src/images/demo/480x300.png" alt="">
          <figcaption>
            <h4 class="heading font-x1 uppercase">Massa efficitur</h4>
            <ul class="nospace clear">
              <li>
                <time datetime="2045-04-06"><i class="fa fa-calendar-o"></i> 6 April 2045</time>
              </li>
              <li><i class="fa fa-comments"></i> <a href="#">Comments</a></li>
            </ul>
            <p>Faucibus velit et ligula tris tique sed vestibulum augue consequat ut&hellip; <a href="#">Read More &raquo;</a></p>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper bgded overlay dark" style="background-image:url('webapp/views/src/images/demo/backgrounds/02.png')">
  <div class="container clear"> 
    <div class="one_third first"><img src="webapp/views/src/images/demo/480x300.png" alt=""></div>
    <div class="two_third">
      <h2 class="font-x2 uppercase">Aliquam porttitor pharetra</h2>
      <p class="btmspace-30">Odio sed consequat pellentesque at ipsum id tortor consequat pharetra vivamus convallis sollicitudin sagittis vestibulum ut lectus nunc nulla sed.</p>
      <p><a class="btn" href="#">Accumsan ac vel</a></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper row100">
  <div class="container clear">
    <div class="three_quarter first">
      <h2 class="uppercase nospace">Nullam scelerisque purus ipsum lacinia</h2>
      <p class="nospace">Integer sit amet rutrum libero fusce pellentesque viverra ipsum a fringilla praesent vel velit nec.</p>
    </div>
    <div class="one_quarter"><a class="btn" href="#">Maecenas sollicitudi</a></div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper row4">
  <footer id="footer" class="clear">
    <div class="one_quarter first">
      <h6 class="title">Company Details</h6>
      <address class="btmspace-15">
        Company Name<br>
        Street Name &amp; Number<br>
        Town<br>
        Postcode/Zip
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span> +00 (123) 456 7890</li>
        <li><span class="fa fa-envelope-o"></span> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">From The Blog</h6>
      <article>
        <h2 class="nospace font-x1"><a href="#">Maecenas pretium</a></h2>
        <time class="smallfont" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed.</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="title">Sed consectetur enim</h6>
      <ul class="nospace linklist">
        <li><a href="#">Nullam id est condimen</a></li>
        <li><a href="#">Praesent eget purus ut</a></li>
        <li><a href="#">Ut quis augue quis neque</a></li>
        <li><a href="#">Quisque varius erat sed</a></li>
        <li><a href="#">Fusce quis dolor et</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Proin et magna eget</h6>
      <ul class="nospace linklist">
        <li><a href="#">Vivamus semper lorem</a></li>
        <li><a href="#">Morbi facilisis dui</a></li>
        <li><a href="#">Maecenas eu massa</a></li>
        <li><a href="#">Praesent iaculis</a></li>
        <li><a href="#">Praesent molestie</a></li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS -->
<script src="webapp/views/src/layout/scripts/jquery.min.js"></script> 
<script src="webapp/views/src/layout/scripts/jquery.backtotop.js"></script> 
<script src="webapp/views/src/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>